page-others {
  padding: 10px
}
.button_visimisi{
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 10px;
  color: #FFF;
}

.button_tentang_kami{
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 10px;
}

.button_pengurus_himasif{
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 10px;
}

.button_kritik_saran{
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 10px;
}
